@charset "UTF-8";
* {
  /*讓各種HTML指令產生方塊線條*/
  /* border: solid 2px black; */
  font-family: 微軟正黑體;
  font-size: 20px;
  /* +++++++++++++++++++ */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* +++++++++++++++++++++ */
}

*::before,
*::after {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
  }

html, body {
  /* background-color: #80c2e0; */
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* ++++++++++++++++++ */
body {
  /* font-family: 'Poppins', sans-serif; */
  display: grid;
  place-items: center;
  /* background-color: #eeeeee; */
}
/* +++++++++++++++++++ */

.box {
  width: 390px;
  /* height: 100%; */
  background-color: #ffffff;
}

.top {
  height: 400px;
  /* background-image: url(https://lh3.googleusercontent.com/fife/APg5EOZJM0JjMzdQeE6zjDEs-8nCbQIb7dIDVLrsX5DrgPApdbJBWaDbWGTEi83wkRl42Z8sj4B2D7D6R60N7LMdbJGlSFNx-y_Ee-T8AvRcbAqdGFkJVU7S4gLGsUlsPmGbwc1xy6rLauKFMvcamwSchnPekOftA78pQ_SM0gyaTKyOaNA4NiGYr0GUfoGSYJf5leDzRFJFD7_xoPVZ-O6oUEMJ0jO5d5u0_X4yAQ47QExTCQ7_MYHrCymwYVy1FeNC8rfoI89SRMRhKY3CgKFfAyhLwQhXlYKxxULDucUCVLbnkkjUa-IU0ptnHTDdiQsmlE-yGXPrEiXiVseSJ6uT44IYuqlSmmr38bmuaksBoaEykSfq2mxMITYYIEVIhp6VhnSYVEyCuEYcd0SEkm0I5mkLb7wH34y2984mzTOQRMxThptikwGEa_yviWQvxs_ionRw2CTURLJxKsqJEmhQpZpnlpT6AINg1P0FvHsH8cSaTXPrk4-JMTAcqTXWmEmTVX77X6WqRZNPvJiIhFLx7Tfa_hdSOd6ff-97vs9kFlLw95EnPW3pgbqcAG01F3kURLJbPblSEtJNB5uHFV17qFYGpZaiyiaYyqP5X9gps_vJw54Br4_cS7hquhMXjkRaX2ondUOK_Fz80IAfqUJqJTOMdLQK8fmTzNudPOE9hcEprFW1KKefgvY4o1E95U5Lq8D79f0cRFqvcBfr0aBLoV8diG1LXGLoTCY2Vo7OyiNaM_zxaXNwzO2V8ZidiRG1IUDmny6ffgb5SosdmgIBbloXpYzdMIp4pxGcVvuf1F6AzFGWjd9OqKoqU40D07HHvtiX4FH4iLqIrbGouxHj7jr9zyyuRtJZF7fZwfzDtYAEZ1lgfCuhxJMQtTGMZYw0_PuIvzbnXuoO8hYexbU1fTRLlhojx_WeJ8PWnULPdqf7x9qQaWF-zkCmbjXn-7MRjNyALUYyTfsl1XZTJqWB0dHcY3rFEa3IXLNmjiBiu7_yXNY0xoh7iaqVZtKWeZHYB8Q6WR-Wiw4sgbNqLCx5gxoixtISt8aAeoNnpsZadwXQ9T0N1xE_9yZVF1Ue5UdchbDPkgsZ-rIFVUvkS72b01hln-jKxgV7fxzf83OqJoAFgPUrYXP1aAyW62IXXuD0b6P2DhIikKeUCraLj2cU9RGSklyScFE-icnlcS8uR5K6lHHcCMi-eFjwY18IT8TatiuY2Fl7C1wEZ6ZP3cLZYJj0QzQ1bfsgTui0_Z-RBfcqqmB_D03cyFHLwth39DT1zeRlDfrwf3x3pAhEMTAqrLduLWwUq5L1ey2ufYy3BAnXs_XhOpimHUllcUCJmtz5IrVR3RN5BMhYHHSnlkF4GJizYv_G9Y_g5CtVYz374KpCl0Y2IGeyJezZIhSoLaTWAnYAAtHncRn1Z4r1nPhY00grCMWL4euyb8U4o2sFty_oFxSBhxoGmGJjDSUMYinNQSmMFUPXzroIJwRtcJjjPZIVfWUl=w1920-h892); */
  background-size: cover;
  position: relative;
}

.name {
  position: absolute;
  left: 0px;
  bottom: 0px;
  color: #ffffff;
  margin: 0px;
  padding: 5px 15px;
  letter-spacing: 2px;
  font-size: 24px;
}

.smalltext {
  font-size: 15px;
}

.bottom {
  padding: 10px 20px 10px 20px;
}
.bottom ul {
  list-style: none;
  padding-left: 0px;
}
.bottom li {
  padding: 1px 0px;
}
.bottom h3 {
  display: inline-block;
}

.cirbutton {
  width: 100px;
  height: 100px;
  background: url(https://lh3.google.com/u/0/d/1dhKxTeyRv-CLeguil1rkiQE5A5DVbdWn=w1920-h892-iv1);
  position: absolute;
  right: 25px;
  bottom: -20px;
  border-radius: 50%;
  background-size: cover;
  
}
/* ++++++++++++++++++++++++++++++++ */
.swiper {
  width: 400px;
}
.swiper-slide {
  position: relative;
  background-color: #8be6ee;
}
.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.swiper button {
  width: 50px;
  height: 50px;
  color: #fff;
  background: transparent;
  border: none;
  outline: none;
  transition: opacity 0.25s;
}
.swiper button:hover {
  opacity: 0.8;
}
.swiper button::before,
.swiper button::after {
  font-size: 24px;
}
.swiper-pagination-bullet {
  background-color: #fff;
}

.swiper-description {
  position: absolute;
  left: 0;
  bottom: 0;
  isolation: isolate;
  padding: 50px 25px 25px;
  color: #fff;
}
.swiper-description::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.8) 50%);
}
.swiper-description h2 {
  font-size: 42px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.swiper-description p {
  font-size: 14px;
  max-width: 50%;
  margin-bottom: 15px;
}